@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";
@import "_partials/common.scss";
@import "_partials/components.scss";
@import "_partials/typography.scss";
@import "_partials/utilities.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";



li {
    display: flex;

    .card-custom {

        .card__content {

            h5 {
                color: rgb(136, 136, 136);
            }

            .score {
                font-style: italic;
            }
        }

    }

}